* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px;
}

.home-page-title {
	font-size: 60px;
}

.home-page-links {
	display: flex;
	text-decoration: none;
	color: #b5b5b5;
}

.home-page-welcome-message {
	margin-top: 10%;
	font-size: 75px;
}

.homepage-signout-msg {
	color: green;
	font-weight: bold;
	margin-top: 1%;
}

.sign-up-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	margin: 20px;
	border: solid 1px gray;
	border-radius: 5px;
	padding: 10px 20px 60px 20px;
	box-shadow: 2px 3px gray;
}

.sign-up-form > label {
	margin: 20px 0 10px 0;
}

.sign-up-form > input {
	width: 300px;
	height: 28px;
	padding-left: 5px;
}

.register-form-validation-warning {
	color: red;
}

.register-btn {
	margin: 25px auto;
	width: 100%;
	font-size: 16px;
	padding: 5px 0;
	border: none;
	border-radius: 5px;
	background-color: #d1d2f3;
}

.log-in-link {
	color: coral;
	text-decoration: none;
}

.wrong-email-password {
	text-align: center;
	color: red;
	margin-top: 15px;
}

.registration-msg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
}

.login-form-loading-msg {
	color: red;
	text-align: center;
}

.dashboard-welcome-msg {
	color: green;
	padding: 3%;
	font-weight: bold;
	text-align: center;
}

.post-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	width: 70%;
	margin-left: 17%;
	margin-bottom: 50px;
}

.post-form > label {
	margin: 15px 0 10px 0;
}

.post-form > input {
	width: 500px;
	border: solid black 1px;
	border-radius: 3px;
	height: 28px;
	padding-left: 5px;
}

.post-form > textarea {
	height: 200px;
	padding: 5px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.6;
}

.publish-btn {
	margin: 25px auto;
	width: 40%;
	font-size: 18px;
	padding: 10px 0;
	border: none;
	border-radius: 5px;
	background-color: #d1d2f3;
}

.dashboard-posts-list-container {
	text-align: center;
}
