* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px;
}

.home-page-title {
	font-size: 60px;
	color: #6b70f1;
	font-weight: bold;
}

.home-page-links {
	display: flex;
	text-decoration: none;
	color: #b5b5b5;
}

.home-page-welcome-message {
	margin-top: 4%;
	font-size: 33px;
	color: #9da0ff;
}

.homepage-signout-msg {
	color: green;
	font-weight: bold;
	margin-top: 1%;
}

.home-page-all-posts-container {
	border: solid 1px lightgray;
	border-radius: 5px;
	padding: 15px;
	margin: 0 80px;
}

.home-page-single-post-container {
	margin: 10px 33px;
}

.home-page-post-title {
	margin: 10px 0;
	color: coral;
	font-weight: bold;
}

.home-page-post-body {
	margin: 10px 0 20px 0;
	line-height: 1.5;
}

.home-page-post-read-more-btn {
	padding: 5px 9px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 40px;
}

.home-page-post-read-more-btn:hover {
	background-color: #6b70f1;
	color: white;
}

.home-page-post-modal-title {
	color: coral;
	text-align: center;
	margin-bottom: 20px;
}

.home-page-post-modal-go-back-btn-container {
	margin-left: 33%;
	margin-top: 25%;
}

.home-page-post-modal-go-back-btn {
	margin: 20px;
	border: none;
	border-radius: 5px;
	background-color: #d1d2f3;
	padding: 10px;
	width: 40%;
	cursor: pointer;
}

.sign-up-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	margin: 20px;
	border: solid 1px gray;
	border-radius: 5px;
	padding: 10px 20px 60px 20px;
	box-shadow: 2px 3px gray;
}

.sign-up-form > label {
	margin: 20px 0 10px 0;
}

.sign-up-form > input {
	width: 300px;
	height: 28px;
	padding-left: 5px;
}

.register-form-validation-warning {
	color: red;
}

.register-btn {
	margin: 25px auto;
	width: 100%;
	font-size: 16px;
	padding: 5px 0;
	border: none;
	border-radius: 5px;
	background-color: #d1d2f3;
}

.log-in-link {
	color: coral;
	text-decoration: none;
}

.wrong-email-password {
	text-align: center;
	color: red;
	margin-top: 15px;
}

.registration-msg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
}

.login-form-loading-msg {
	color: red;
	text-align: center;
}

.dashboard-container {
	width: 100%;
}

.dashboard-welcome-msg {
	color: green;
	padding: 3%;
	font-weight: bold;
	text-align: center;
}

.post-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	width: 70%;
	margin-left: 17%;
	margin-bottom: 50px;
}

.post-form > label {
	margin: 15px 0 10px 0;
	font-weight: bold;
}

.post-form > input {
	border: solid black 1px;
	border-radius: 3px;
	height: 32px;
	padding-left: 5px;
	width: 100%;
}

.post-form > input.post-form-add-media {
	width: 50%;
	padding: 4px;
}

.post-form > textarea {
	width: 100%;
	height: 200px;
	padding: 5px;
	line-height: 1.6;
}

.create-post-btn {
	margin: 25px auto;
	width: 40%;
	font-size: 18px;
	padding: 10px 0;
	border: none;
	border-radius: 5px;
	background-color: #d1d2f3;
	cursor: pointer;
}

.create-post-btn:hover {
	background-color: rgb(62, 199, 62);
}

.create-post-failure-note {
	color: red;
	text-align: center;
}
.create-post-success-note {
	color: green;
	text-align: center;
}

.dashboard-posts-list-container {
	text-align: center;
}

.dashboard-posts-list-container-title {
	margin: 40px 0;
}

.dashboard-all-posts-container {
	display: inline-flex;
}

.dashboard-post-card-title {
	color: coral;
	text-align: center;
}

.dashboard-post-card-body {
	text-align: justify;
	padding: 0 10px;
	line-height: 1.4;
}

.dashboard-post-card-container {
	position: relative;
	border: 1px solid;
	border-radius: 3px;
	padding: 10px;
	margin: 10px;
	width: 400px;
	height: 300px;
}

.dashboard-post-card-btn-container {
	position: absolute;
	margin-left: 20%;
	top: 240px;
}

.dashboard-post-card-btn {
	margin: 10px;
	border: none;
	border-radius: 4px;
	background-color: #d1d2f3;
	padding: 8px 15px;
	cursor: pointer;
}

#dashboard-post-card-delete-btn:hover {
	background-color: red;
	color: white;
}

.dashboard-post-card-read-more-btn {
	padding: 5px 9px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.read-all-modal-title {
	color: coral;
	text-align: center;
	margin-bottom: 20px;
}

.read-all-modal-go-back-btn-container {
	margin-left: 33%;
	margin-top: 25%;
}

.read-all-modal-go-back-btn {
	margin: 20px;
	border: none;
	border-radius: 5px;
	background-color: #d1d2f3;
	padding: 10px;
	width: 40%;
	cursor: pointer;
}

.update-post-modal-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.update-post-modal-form > input {
	border: solid black 1px;
	border-radius: 3px;
	height: 28px;
	padding-left: 5px;
	width: 100%;
	margin-bottom: 15px;
}

.update-post-modal-form > textarea {
	width: 100%;
	height: 333px;
	padding: 5px;
	line-height: 1.6;
	margin-bottom: 30px;
}

.update-post-modal-form-btn {
	border: none;
	border-radius: 5px;
	background-color: #d1d2f3;
	padding: 10px;
	width: 40%;
	cursor: pointer;
}

.update-post-modal-form-success-msg {
	color: green;
	margin: 15px 0;
}

.dashboard-post-card-publish-label {
	margin-left: 3px;
	font-size: 14px;
}

#checkbox {
	margin-left: 3px;
}
