.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px;
}

.sign-up-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	margin: 20px;
	border: solid 1px gray;
	border-radius: 5px;
	padding: 10px 20px 60px 20px;
	box-shadow: 2px 3px gray;
}

.sign-up-form > label {
	margin: 20px 0 10px 0;
}

.sign-up-form > input {
	width: 300px;
	height: 28px;
	padding-left: 5px;
}

.register-form-validation-warning {
	color: red;
}

.register-btn {
	margin: 25px auto;
	width: 100%;
	font-size: 16px;
	padding: 5px 0;
	border: none;
	border-radius: 5px;
	background-color: #d1d2f3;
}

.log-in-link {
	color: coral;
	text-decoration: none;
}

.registration-msg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
}

.register-form-loading-msg {
	color: red;
	text-align: center;
}
