.home-page-single-post-container {
	margin: 10px 33px;
}

.home-page-post-title {
	margin: 10px 0;
	color: coral;
	font-weight: bold;
}

.home-page-post-body {
	margin: 10px 0 20px 0;
	line-height: 1.5;
}

.home-page-post-images-container {
	display: inline-flex;
	margin-top: 10px;
	justify-content: left;
}

.home-page-post-image {
	margin: 10px 10px 30px 0;
	border-radius: 3px;
	height: 170px;
	width: 200px;
}

.home-page-post-video-container {
	display: flex;
	justify-content: center;
	margin: 50px auto;
}

.home-page-post-read-more-btn:hover {
	background-color: #6b70f1;
	color: white;
}

.home-page-post-modal-title {
	color: coral;
	text-align: center;
	margin-bottom: 20px;
}

.home-page-post-modal-images-container {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 40px;
}

.home-page-post-modal-single-image {
	height: 270px;
	width: 320px;
	margin: 10px;
	border-radius: 3px;
}

.home-page-post-modal-go-back-btn-container {
	margin-left: 33%;
	margin-top: 15%;
}

.home-page-post-modal-go-back-btn {
	margin: 20px;
	border: none;
	border-radius: 5px;
	background-color: #d1d2f3;
	padding: 10px;
	width: 40%;
	cursor: pointer;
}
