.home-page-single-post-container {
	margin: 10px 33px;
}

.home-page-post-title {
	margin: 10px 0;
	color: coral;
	font-weight: bold;
}

.home-page-post-body {
	margin: 10px 0 20px 0;
	line-height: 1.5;
}

.home-page-post-read-more-btn {
	padding: 5px 9px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 40px;
}

.home-page-post-read-more-btn:hover {
	background-color: #6b70f1;
	color: white;
}

.home-page-post-modal-title {
	color: coral;
	text-align: center;
	margin-bottom: 20px;
}

.home-page-post-modal-go-back-btn-container {
	margin-left: 33%;
	margin-top: 25%;
}

.home-page-post-modal-go-back-btn {
	margin: 20px;
	border: none;
	border-radius: 5px;
	background-color: #d1d2f3;
	padding: 10px;
	width: 40%;
	cursor: pointer;
}
