.home-page-single-post-container {
	margin: 10px 33px;
}

.home-page-post-title {
	margin: 10px 0;
	color: coral;
	font-weight: bold;
}

.home-page-post-body {
	margin: 10px 0 20px 0;
	line-height: 1.5;
}

.home-page-post-images-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.home-page-post-image {
	margin: 10px 10px 30px 0;
	border-radius: 3px;
	height: 170px;
	width: 200px;
}

.home-page-post-video-container {
	display: flex;
	justify-content: center;
	margin: 50px auto;
}

.home-page-post-likes-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-page-liked-btn {
	padding: 8px 9px;
	border-radius: 7px;
	border: none;
	background-color: coral;
	color: white;
	font-weight: bold;
}
.home-page-like-btn {
	padding: 8px 9px;
	border: none;
	border-radius: 7px;
	background-color: #a1a1a1;
	color: white;
	font-weight: bold;
}

.home-page-post-modal-title {
	color: coral;
	text-align: center;
	margin-bottom: 20px;
}

.home-page-post-modal-images-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 40px;
}

.home-page-post-modal-single-image {
	height: 270px;
	width: 320px;
	margin: 10px;
	border-radius: 3px;
}

.home-page-post-modal-go-back-btn-container {
	margin-left: 33%;
	margin-top: 15%;
}

.home-page-post-modal-go-back-btn {
	margin: 20px;
	border: none;
	border-radius: 5px;
	background-color: #d1d2f3;
	padding: 10px;
	width: 40%;
	cursor: pointer;
}

.home-page-comments-container {
	margin: 25px 0px 10px 0px;
}

.home-page-single-comment {
	margin: 5px;
}

.home-page-single-comment-nonvisible {
	display: none;
}

.home-page-edit-comment-input-nonvisible {
	display: none;
}

.home-page-edit-comment-input {
	display: block;
}
