.dashboard-all-posts-container {
	display: flex;
}

.dashboard-post-card-container {
	border: 1px solid;
	border-radius: 3px;
	padding: 20px;
	margin: 10px 50px;
	width: 100%;
	height: fit-content;
}

.dashboard-post-card-title {
	color: coral;
	text-align: center;
}

.dashboard-post-card-body {
	text-align: left;
	padding: 0 10px;
	line-height: 1.4;
}

.dashboard-post-card-images-container {
	display: inline-flex;
	margin: 30px auto;
}

.dashboard-post-card-image {
	margin: 10px;
	border-radius: 3px;
	height: 140px;
	width: 180px;
}

.dashboard-post-card-video-container {
	display: flex;
	justify-content: center;
	margin: 50px auto;
}

.dashboard-post-card-btn-container {
	margin: 20px auto 0 auto;
}

.dashboard-post-card-btn {
	margin: 0 10px;
	border: none;
	border-radius: 4px;
	background-color: #d1d2f3;
	padding: 8px 20px;
	cursor: pointer;
}

#dashboard-post-card-delete-btn:hover {
	background-color: red;
	color: white;
}

.read-all-modal-title {
	color: coral;
	text-align: center;
	margin-bottom: 20px;
}

.read-all-modal-images-container {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 40px;
}

.read-all-modal-single-image {
	height: 270px;
	width: 320px;
	margin: 10px;
	border-radius: 3px;
}

.read-all-modal-go-back-btn-container {
	margin-left: 33%;
	margin-top: 15%;
}

.read-all-modal-go-back-btn {
	margin: 20px;
	border: none;
	border-radius: 5px;
	background-color: #d1d2f3;
	padding: 10px;
	width: 40%;
	cursor: pointer;
}

.update-post-modal-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

.update-post-modal-form > input {
	border: solid black 1px;
	border-radius: 3px;
	height: 28px;
	padding-left: 5px;
	width: 100%;
	margin-bottom: 15px;
}

.update-post-modal-form > textarea {
	width: 100%;
	height: 333px;
	padding: 5px;
	line-height: 1.6;
	margin-bottom: 30px;
}

.update-post-modal-form > label {
	margin: 15px 0 10px 0;
	font-weight: bold;
}

.update-post-modal-form-add-image {
	padding: 3px;
}

#update-post-modal-form-add-video {
	padding: 3px;
	margin-bottom: 50px;
}

.update-post-modal-form-add-media-note {
	color: red;
}

.update-post-modal-form-images-container {
	display: inline-block;
	margin: 50px;
	text-align: center;
}

.update-post-modal-form-image {
	margin: 10px;
	border-radius: 3px;
}

.update-post-modal-delete-pic-container {
	margin-bottom: 40px;
}

.update-post-modal-delete-pic {
	margin-left: 5px;
}

.update-post-modal-form-btn {
	margin: 10px auto;
	border: none;
	border-radius: 5px;
	background-color: #d1d2f3;
	padding: 10px;
	width: 40%;
	cursor: pointer;
}

.update-post-modal-form-success-msg {
	color: green;
	margin: 15px auto;
}

.update-post-modal-form-loading-msg {
	color: red;
	margin: 15px auto;
}

.dashboard-post-card-publish-label {
	margin-left: 3px;
	font-size: 14px;
}

#checkbox {
	margin-left: 3px;
}
